body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.principalTitle {
  font-size: 2.3rem;
}
.textGrey {
  font-size: 1.9rem;
}
.headerMainContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
header {
  max-width: 320px;
  height: 100%;
}
main {
  margin: 30px;
  max-width: 100%;
}
.backgroundImg {
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
  background-image: url("../img/Space.jpg");
  opacity: 0.6;
  background-size: cover; /* Asegurar que no se deforme y siempre este en el tamaño del contenedor */
  background-position: center;
  background-repeat: no-repeat; /* si fuera mas pequeña la imagen se replicaría la imagen  */
  z-index: 2;
}
h1 {
  position: absolute;
  margin: 75px 50px;
  font-size: 3.5rem;
  color: white;
  z-index: 1;
}
.skills {
  border-bottom: none;
}
footer {
  max-width: 100%;
  border-top: 1px solid var(--grey-text);
}
